/*
.when-first-renders-container {
    
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    background: lightgrey;
   
    p {
        padding-left: 8px;
        margin-top: 30px;
        img {
            max-width: 240px; 
            height: auto;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            border-radius: 5px;


        }


    }


}
*/