@import "nav.scss";
@import "suggest-words.scss";

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        //outline: blue solid 1px;      
}

.container-button {
        position: relative;
        width: 50%;
      }
      
      /* Make the image responsive */
      .container-button img {
        width: 100%;
        height: auto;
      }
      
      /* Style the button and place it in the middle of the container/image */
      .container-button .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      
      .container-button .btn:hover {
        background-color: black;
      }