@import "nav.scss";
@import "suggest-words.scss";
@import "toggle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        //outline: blue solid 1px;      
}
body {
    font-family: 'Open Sans',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
button, input {
    
    font-family: 'Open Sans',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 


}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

// .container-button {
//         position: relative;
//         width: 50%;
//       }
      
      // /* Make the image responsive */
      // .container-button img {
      //   width: 100%;
      //   height: auto;
      // }
      
      // /* Style the button and place it in the middle of the container/image */
      // .container-button .btn {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   -ms-transform: translate(-50%, -50%);
      //   background-color: #555;
      //   color: white;
      //   font-size: 16px;
      //   padding: 12px 24px;
      //   border: none;
      //   cursor: pointer;
      //   border-radius: 5px;
      // }
      
      // .container-button .btn:hover {
      //   background-color: black;
      // }